.card-detalle{
    background:#222934;
    padding:40px;
    border-radius:20px;
    margin:40px;
    color:white;
}

/* CONTENEDOR DE PELÍCULAS */

.catalogo-container{
    display:flex;
    gap:15px;

    overflow-x:auto;
    overflow-y:hidden;

    padding:10px 0;

    scroll-behavior:smooth;
}

.catalogo-container::-webkit-scrollbar{
    height:8px;
}

.catalogo-container::-webkit-scrollbar-thumb{
    background:#3a6fa0;
    border-radius:10px;
}

/* CARD DE PELÍCULA */

.pelicula-card{
    flex:0 0 calc((100% - 60px) / 5);

    background:#0f5db8;
    color:white;

    display:flex;
    flex-direction:column;

    border-radius:8px;
    overflow:hidden;
}

.pelicula-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.pelicula-info{
    padding:12px;
}

.pelicula-info a{
    display:block;

    color:white;
    text-decoration:none;

    font-weight:bold;
    font-size:14px;

    margin-bottom:10px;
}

.pelicula-info p{
    margin:5px 0;
    font-size:12px;
    color:#d9e6ff;
}

.card-detalle{
    background:#222934;
    padding:40px;
    border-radius:20px;
    margin:20px;
    color:white;
}

/* CONTENEDOR DE PELÍCULAS */

.catalogo-container{
    display:flex;
    gap:15px;

    overflow-x:auto;
    overflow-y:hidden;

    padding:10px 0;

    scroll-behavior:smooth;
}

.catalogo-container::-webkit-scrollbar{
    height:8px;
}

.catalogo-container::-webkit-scrollbar-thumb{
    background:#3a6fa0;
    border-radius:10px;
}

/* CARD DE PELÍCULA */

.pelicula-card{
    flex:0 0 calc((100% - 60px) / 5);

    background:#0f5db8;
    color:white;

    display:flex;
    flex-direction:column;

    border-radius:8px;
    overflow:hidden;
}

.pelicula-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.pelicula-info{
    padding:12px;
}

.pelicula-info a{
    display:block;

    color:white;
    text-decoration:none;

    font-weight:bold;
    font-size:14px;

    margin-bottom:10px;
}

.pelicula-info p{
    margin:5px 0;
    font-size:12px;
    color:#d9e6ff;
}

