body {
    margin: 0;
    height: 100vh;

    background: linear-gradient(
        90deg,
        #22252d,
        #19407d
    );

    font-family: Arial, sans-serif;

    .btn {
        background: #2a4f7a;
        color: white;
        border: none;
        text-decoration: none;
    }

    .btn:hover {
        background: #3a6fa0;
    }
}

       