/* aside ---------------------------------------------------------------*/
aside {
    flex: 1; /* Toma 1 parte del espacio disponible (aprox. 25%) */
    background-color:#1a3a5c;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    height: fit-content; /* Se adapta a su propio contenido */
    top: 20px;
}

aside h2 {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
}

.item-aside {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 4px 10px;
    margin-bottom: 40px;
}

.item-aside img {
    grid-row: 1 / 5;
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}
.item-aside .iconPerfil {
    width: 70px;
    height: 70px;
}
.Rol {
    color: #e05a5a;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
}

.item-aside h3 {
    color: white;
    font-size: 14px;
    margin: 0;
}

.descripcion {
    color: #ccc;
    font-size: 11px;
    margin: 0;
}


aside hr {
    border: none;
    border-top: 1px solid #2a4f7a;
    margin: 12px 0;
}
/* fin aside ---------------------------------------------------------------*/