body {
    height: 100%;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Usa el 100% de la ventana del navegador */
    font-family: Arial, sans-serif;
    background-color: grey;
}

main {
    flex: 1; 
    display: flex;
}