/*------------Botones superiores----------------*/

.Contenedor-Botones-superior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/*------ Estilos de botones -------*/
.boton-superior {
    box-sizing: border-box;
    text-decoration: none;
    background-color: #444;
    color: #ddd;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 12px 24px; 
    margin-right: 75px;
    margin-bottom: 75px;
    font-weight: bold;
    text-align: center;
    display: inline-block; /* Ayuda a que el padding funcione igual en los <a> */
}


.boton-superior:last-child {
    margin-right: 0;/* Quita el margen derecho al ultimo boton */
}

.boton-superior:hover {
    background-color: #003366;
    color: #ffffff;
}

/*---------------------BOTONES INFERIORES----------------------------------------------*/

.botones-inferiores {
    display: flex;            /* Activa Flexbox */
    flex-direction: column;      /* coloca uno al lado del otro */
    align-items: center;      /* Centra verticalmente los botones y el checkbox */
    margin-top: 20px;
    padding-top: 20px;
    gap: 15px;

}
.guardar_accion, 
.modificables, 
.accion_publicar {
    width: 100%;
    display: flex;
    justify-content: center;  /* Centra el contenido de cada fila */
    gap: 15px;                /* Espacio de separación entre botones de la misma fila */
}

/* -------LOS BOTONES:-----------------*/
.btn-gris {
    box-sizing: border-box;
    text-decoration: none;
    background-color: #444;
    color: #ddd;
    border: 1px solid #000000;
    border-radius: 4px; 
    padding: 12px 24px;       
    font-size: 14px;          
    font-weight: bold;
    display: inline-block;  
    text-align: center; 
    margin-right: 15px;
    width: 120px;
    border: none;
}

.btn-gris:hover {
    background-color: #003366;
}
/*---------INTERRUPTOR PARA LA ACCION PUBLICAR -----------*/

.accion_publicar {
    background-color: #444;
    padding: 12px 24px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

/* Contenedor del switch (el tamaño total del botón) */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

/* Escondemos el checkbox original del navegador */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* El fondo del interruptor (cuando está desactivado) */
.deslizador {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red ;
    transition: .3s;
    border-radius: 24px;   
}

/* bolita blanca que se desplaza */
.deslizador:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .3s;
    border-radius: 50%; /* Esfera */
}

/* --- ESTADOS CUANDO SE ACTIVA (CHECKED) --- */

/* Cambia el fondo a verde */
.switch input:checked + .deslizador {
    background-color: #4caf50; 
}

/* Desplaza la bolita blanca hacia la derecha */
.switch input:checked + .deslizador:before {
    transform: translateX(20px);
}

/*-------------------------------------------------*/

/* Contenedor inferior de botones */
.botones-contenedor {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


.btn {
    display: inline-block; /*  etiquetas <a> actuan como botones */
    background-color: #444;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 4px 15px;
    font-size: 11px;
    font-weight: bold;
    color: #ddd;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box; /* Evita que el padding deforme el tamaño */
}


.btn:hover {
    background-color: #003366;
}
