/* ======================================
   TARJETAS DE CARGAS/ 
====================================== */

/* Contenedor Principal */
.contenedorFormulario {
    background-color: #1a3a5c; /*color de fondo de tarjetas para todos*/
    color: #ffffff;
    width: 75%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

/* ======================================
   DISEÑO EN CUADRICULA / COLUMNA
====================================== */

#formAgregar {
    display: grid;
    grid-template-columns: repeat(4,1fr); /* Divide el formulario en 3 columnas */
    gap: 20px; /* Espacio entre los campos */
}

#formAgregarActor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
/* ======================================
   CAMPOS INDIVIDUALES
====================================== */
.grupoCampo, .grupoCampoArchivo {
    display: flex;
    flex-direction: column;
}
/* ======================================
    CAMPOS ANCHOS 
====================================== */
/* bloques especiales que deben tomar el doble de espacio (2 columnas) */
.campoDoble {
    grid-column: span 2 !important;
}
/* Campos que deben ocupar todo el ancho (como la Sinopsis y los Botones) */
.grupoCampoCompleto, .accionesFormulario {
    grid-column: span 4; /* Ocupa las 2 columnas */
    display: flex;
    flex-direction: column;
}
/* ======================================
   ESTILOS DE ETIQUETAS
====================================== */

label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #d8d3d3;
}

/* ======================================
   ESTILOS EN ENTRADAS DE TEXTO, SELECTS, TEXTAREAS
====================================== */
.inputTexto, select, textarea {
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 12px;
    font-size: 15px;
    transition: all 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}
/* ======================================
   CONTENEDORES JUNTOS PARA EL REPARTO
====================================== */
.repartoContenedor {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* ======================================
   ESTILO DE INPUT TIPO ARCHIVO
====================================== */
input[type="file"] {
    color: #bbb;
    font-size: 14px;
}

