/* ======================================
   MAIN DE LOGIN
====================================== */
.diseno-login {
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    padding: 40px;
}
/* ======================================
   CONTENEDOR DE TARJETA
====================================== */
.carta-login {
    width: 100%;
    max-width: 350px;
    border: 1px solid black;
    padding: 50px;
}

/*---- CONTENEDOR "olvidaste tu contraseña" -----*/
.contenedor-olvido {
    margin-bottom: 20px;
    width: 270px;
    text-align: right;
}
/* ======================================
    ESTILO PARA EL ENLACE
====================================== */
.enlace-olvido {
    text-decoration:underline; 
    color: #063568;        
    font-size: 0.9em;
}
/* ======================================
   BOTONES
====================================== */
/*----INICIAR SESION --------*/
.contenedor-boton {
    margin-bottom: 10px;
    
}

.boton-inicio, .boton-cancelar {
    display: inline-block;/*para que el boton cancelar pueda tomar la misma dimension que guardar*/
    box-sizing: border-box; /* Evita que el padding deforme el ancho */
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    background-color: #001f3f; 
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 15px;
    
}

.boton-inicio:hover, .boton-cancelar:hover {
    background-color: #003366; /* Cambio de color al pasar el mouse */
}
/* ======================================
   ESPACIO ENTRE USUARIO Y CONTRASEÑA
====================================== */
.carta-login div {
    margin-bottom: 15px;
}

.iconosVarios {
    width:20px;
    height:20px;
    vertical-align: middle;
}