/* --- BOTÓN SUPERIOR PANEL--- */
.contenedor-panel {
    display: flex; /*para poder alinear*/
    justify-content: flex-start; /*lo ubica al extremo izq*/
    margin-bottom: 40px; /*margen inferior para que tenga distancia con las tarjetas*/        
}

.Panel {
    display: flex;/*para poder alinear*/
    align-items: center; 
    gap: 10px; /*separacion entre la img y el texto*/
    border: 2px solid #000;
    padding: 8px 20px; /*espacio entre el texto y borde*/
    background-color: #f5f5f5;
}

.Panel a {
    text-decoration: none; /*para quitarle el subrayado azul*/
    color: #000;
    font-weight: bold; /*letra en negrita*/
    
}

/* --- CONTENEDOR DE TARJETAS --- */
.contenedor-tarjetas {
    display: flex ;
    flex-direction: row ;/*para q las tarjetas esten una al lado de la otra*/
    justify-content: center; /* para que se junten en el centro */
    align-items: flex-start; /* Alinea sus partes superiores */
    gap: 50px ;              /* Espacio entre ellas */
    width: 100%;
    box-sizing: border-box; /*para q no se desborde si agrego el borde al contenedor*/
}

/* --- ESTILO DE LAS TARJETAS --- */
.Tarjeta {
    background-color: #e6e6e6; 
    border: 3px solid #000000;
    border-radius: 20px; /*redondea las esquinas*/
    padding: 20px;/*espacio entre el texto y borde*/
    width: 380px; /*limita el ancho de las tarjeta sin importar el tamaño de la pantalla*/
    min-width: 380px;
    box-sizing: border-box; 
    margin: 0 ; 
    display: flex;/*ordena lo q esta dentro de la tarjeta*/
    flex-direction: column; /*ordena el contenido en colum*/
    align-items: center; /* Centra el contenido que vaya suelto dentro */
}

/* --- CONTENIDO DE C/TARJETAS --- */
.Tarjeta h3,.Tarjeta h4,.Tarjeta p,.Tarjeta nav {
    text-align: center; 
    margin-bottom: 15px;/*margen para lo q hay abajo*/
    width: 100%;
}

.Tarjeta ul {
    padding-left: 20px; 
    text-align: left; /* Las listas alineadas a la izquierda */
    margin-top: 5px;
}

.Tarjeta h5 {
    margin: 0 0 5px 0;
    font-size: 1rem;
    text-align: left;
}