/* --- BOTÓN SUPERIOR PANEL--- */

.contenedor-panel {
    display: flex; /*para poder alinear*/
    justify-content: flex-start; /*lo ubica al extremo izq*/
    margin-bottom: 40px; /*margen inferior para que tenga distancia con las tarjetas*/        
}

.Panel {
    display: flex;/*para poder alinear*/
    align-items: center; 
    gap: 10px; /*separacion entre la img y el texto*/
    border: 2px solid #000;
    padding: 8px 20px; /*espacio entre el texto y borde*/
    background: #e6e6e6; 
    
}
.Panel:hover{
    background-color: #003366; /* Cambio de color al pasar el mouse */
}

.Panel a {
    text-decoration: none; /*para quitarle el subrayado azul*/
    color: #000;
    font-weight: bold; /*letra en negrita*/  
}

