/* --- CONTENEDOR DE TARJETAS --- */

.contenedor-tarjetas {
    display: flex ;
    flex-direction: row ;/*para q las tarjetas esten una al lado de la otra*/
    justify-content: center; /* para que se junten en el centro */
    align-items: flex-start; /* Alinea sus partes superiores */
    gap: 50px ;              /* Espacio entre ellas */
    width: 100%;
    box-sizing: border-box; /*para q no se desborde si agrego el borde al contenedor*/
    flex:3;
}

/* --- ESTILO DE LAS TARJETAS --- */

.Tarjeta {
    background-color: #1a3a5c;
    color: #ffffff;
    border-radius: 20px; /*redondea las esquinas*/
    padding: 20px;/*espacio entre el texto y borde*/
    margin: 30px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    width: 390px; /*limita el ancho de las tarjeta sin importar el tamaño de la pantalla*/
    min-width: 380px;
    display: flex;
    flex-direction: column; /*ordena el contenido en colum*/
    align-items: center; /* Centra el contenido que vaya suelto dentro */
    border:1px solid #000000;
}

/* --- CONTENIDO DE C/TARJETAS --- */

.Tarjeta h3,.Tarjeta h4,.Tarjeta p,.Tarjeta nav {
    text-align: center; 
    margin-bottom: 5px;/*margen para lo q hay abajo*/
    width: 100%;
    padding: 5px;
}
.Tarjeta nav a{
    text-decoration: none;
    background-color: #444;
    color: #ddd;
    border:1px solid #000000;
    border-radius: 4px;
    padding:12px 24px; 
    gap: 50px;
}
.Tarjeta nav a:hover{
    background-color: #003366; /* Cambio de color al pasar el mouse */
}
.Tarjeta ul {
    padding-left: 20px; 
    text-align: left; /* Las listas alineadas a la izquierda */
    margin-top: 5px;
}

.Tarjeta h5 {
    margin: 0 0 5px 0;
    font-size: 1rem;
    text-align: left;
}


/* Área de la imagen */
.imagen-contenedor {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000000; /* Línea divisoria interna */
    min-height: 120px;
    flex-direction: row;
    gap: 10px;
}

.imagen-contenedor img {
    width: 300px;
    height: 400px;
    
    object-fit: cover;
}
.claqueta {
    width: 100px;
    height: 100px;
}
.imagen-contenedor .img-principal {
    width: 75%;
}

.imagen-reparto img {
    width:50px;
    height: 50px;
}

/*------ TRAILERS--------------*/
.trailers {
    width: 320px;
    height: 240px;
}

.icons {
    width: 30px;
    height: 30px;
}