
.titulo-seccion {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.titulo-subcategoria {
    font-size: 14px;
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 6px 15px;
    border-radius: 20px; /* Forma de píldora como la maqueta */
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo-subcategoria span {
    font-size: 12px;
}