.miperfil-usuario {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 60px;
    color: white;
}

/* foto de perfil --*/
.miperfil-foto img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* informacion de perfil --*/
.miperfil-info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.miperfil-info h2 {
    color: #7aafd4;
    font-size: 13px;
    margin: 0;
}

.miperfil-info h1 {
    font-size: 22px;
    margin: 4px 0;
    color: white;
}

/* enlance-boton: Editar perfil--*/
.miperfil-info a {
    color: white;
    font-size: 12px;
    border: 1px solid #4a8abf;
    padding: 4px 12px;
    border-radius: 20px;
    text-decoration: none;
    width: fit-content;
    background: transparent;
}

.miperfil-info a:hover {
    background: #2a4f7a;
}

/* parrafo --*/
.miperfil-info p {
    font-size: 12px;
    color: #ccc;
    margin: 4px 0 0 0;
}

/* tabla de resumen --*/
.miperfil-resumen {
    margin-left: auto;
    border-collapse: collapse;
    color: white;
    border: none;
}

.miperfil-resumen td {
    padding: 6px 20px;
    text-align: center;
    border: none;
}

.miperfil-resumen h2 {
    font-size: 30px;
    margin: 0;
    color: white;
}

.miperfil-resumen p {
    font-size: 15px;
    color: #ccc;
    margin: 0;
}


/*para adaptar pantallas */

@media (max-width: 768px) {

    .miperfil-usuario {
        flex-direction: column;
    }

    .miperfil-resumen {
        margin-left: 0;
    }

    main {
        padding: 16px;
    }
}
/*-- fin--7*