/* RESEÑAS -------------------------------------------------------------- */
/* fila de main + aside ---------------------------------------------------------------*/

.fila {
    display: flex;
    align-items: flex-start;
}

/* primer fila MAIN */
main {
    flex: 1;
    padding: 16px 70px;
}

/* cada sección apila el header y el carrusel verticalmente */
.seccion {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* titulo de la seccion: (mis calificaciones)(mis peliculas favoritas)(mis reseñas favoritas)(mis reseñas)*/
.titulo-seccion {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* titulo(mis calificaciones), etc y subtitulo*/
.titulo-seccion div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* titulo (mis calificaciones)etc*/
.titulo-seccion h2 {
    font-size: 30px;
    margin: 0;
    padding-left: 10px;
    border-left: 3px solid #4a90d9;
    color: #e6edf3;
}

/* subtítulo en azul */
.titulo-seccion h4 {
    font-size: 15px;
    font-weight: normal;
    color: #4a90d9;
    margin: 0;
    padding-left: 14px;
}

/* link "Ver todas" */
.titulo-seccion a {
    font-size: 20px;
    color: #58a6ff;
    text-decoration: none;
}

.titulo-seccion a:hover {
    text-decoration: underline;
}


.reseña {
    height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.img{

    width: 100px;
    height: 100px;
    border-radius: 50%;
}