.reseña {
    height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.card {
    max-width: 220px;
    margin: auto;
}

.card-img-top {
    height: 320px;
    object-fit: cover;
}