







/* ----------FUNCIONALIDADESSSSSSSSS ------------------------------------*/
/* ----------MODAL - AGREGAR RESEÑA ------------------------------------*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.modal{
    width: 800px;
    padding: 20px;

    background-color: #041626;
    color: white;

    border-radius: 10px;
}

/* ==========================
(imagen + información)
========================== */
.modal-header{
    display: flex;
    gap: 15px;

    position: relative;
    margin-bottom: 20px;
}

/* Imagen de la película */
.modal-header img{
    width: 80px;
    border-radius: 8px;
}

/* Título */
.info h3{
    margin: 0;
}

/* Información de año y duración */
.meta{
    margin: 5px 0;
    color: lightgray;
}

/* Texto "MI RESEÑA" */
.subtitulo{
    color: #4f6cff;
    font-weight: bold;
}

/* Texto "Tu puntuación" */
.puntuacion-label{
    margin-bottom: 5px;
}

/* Estrellas */
.estrellas{
    color: #4f6cff;
    font-size: 25px;
}

/* Estrellas vacías */
.vacia{
    color: #34495e;
}

/* ==========================
   BOTÓN CERRAR
========================== */
.boton-cerrar{
     width: 35px;
    height: 35px;

    border: none;
    border-radius: 50%;

    background-color: #1c3147;
    color: white;

    cursor: pointer;
}

/* ==========================
   FORMULARIO
========================== */
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Campo del título */
form input{
    padding: 10px;

    border: none;
    border-radius: 20px;

    background-color: #102a45;
    color: white;
}

/* Área de texto */
form textarea{
    height: 250px;
    padding: 15px;

    border: none;
    border-radius: 15px;

    background-color: #102a45;
    color: white;
}

/* Contador de caracteres */
.contador{
    text-align: right;
    color: gray;
    margin: 0;
}

/* ==========================
   BOTÓN PUBLICAR
========================== */
.boton-publicar{
    padding: 10px;

    border: none;
    border-radius: 20px;

    background-color: #5b6dff;
    color: white;

    cursor: pointer;
}

/* ==========================
   BOTÓN CANCELAR
========================== */
.boton-cancelar{
    padding: 10px;

    border: none;
    border-radius: 20px;

    background-color: #102a45;
    color: lightgray;

    cursor: pointer;
}

/* modal de comentarios----------------------------------------------------------------------------------------*/

.comentarios {
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #132946;
}

.comentarios input {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.cancelar,
.comentar {
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}