/* SECCION DEL USUARIO  ---------------------------------------------------------------*/
.secciones {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 60px;
    color: white;
}

.secciones-info h2 {
    color: #7aafd4;
    font-size: 13px;
    margin: 0;
}

.secciones-info h1 {
    font-size: 22px;
    margin: 4px 0;
    color: white;
}


.secciones-info a:hover {
    background: #2a4f7a;
}

/* parrafo --*/
.secciones-info p {
    font-size: 12px;
    color: #ccc;
    margin: 4px 0 0 0;
}
